@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #2A3D45;

    background: url('./assets/background.jpg') ;
    background-size: cover;

    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    outline: 0;
}

.alert {
    position: fixed;
    top: 1vh;
    right: 1vw;
    z-index: 1;
  }