.header-container {
  width: 95%;
  padding: 1% 2.5%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  color: #2a3d45;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 3px -1px 8px rgba(241, 242, 235, 0.84);
}

.header-container button {
  background-color: #0353a4;
  border: none;

  width: 150px;
  height: 40px;

  font-weight: bold;
  color: #f1f2eb;
  transition: background-color 0.5s;
}

.header-container button:hover {
  background-color: #2a3d45;
}

@media (orientation: portrait) {
  .header-container h1 {
    width: 100%;
    text-align: center;
  }
  .header-container button {
    display: block;
    margin: 2vh auto;
  }
}
